[manager]
prepend_keymap = [
  { on = [
    "l",
  ], run = "plugin --sync smart-enter", desc = "Enter the child directory, or open the file" },

  { on = [
    "<c-t>",
  ], run = "plugin --sync hide-preview", desc = "Hide or restore preview" },
  
  { on = [
    "T",
  ], run = "plugin --sync max-preview", desc = "Maximize or restore preview" },

  { on = [
    "<C-s>",
  ], run = 'shell "$SHELL" --block --confirm', desc = "Open shell here" },

  { on = [
    "p",
  ], run = "plugin --sync smart-paste", desc = "Paste into the hovered directory or CWD" },
  
  { on = [
    "y",
  ], run = [ ''' shell 'echo "$@" | xclip -i -selection clipboard -t text/uri-list' --confirm ''', "yank" ] },
  
  { on = "k", run = "plugin --sync arrow --args=-1" },
  { on = "j", run = "plugin --sync arrow --args=1" },
  { on = "K", run = "plugin --sync parent-arrow --args=-1" },
  { on = "J", run = "plugin --sync parent-arrow --args=1" },
  { on = "<A-j>", run = "seek 5" },
  { on = "<A-k>", run = "seek -5" },
]

append_keymap = [
  { on = [
    "g",
    "y",
  ], run = "cd ~/.config/yazi", desc = "Go to yazi configuration directory" },
  
  { on = [
    "C",
  ], run = "plugin ouch --args=7z", desc = "Compress with ouch" },
  
  { on = [
    "g",
    "n",
  ], run = "cd ~/.config/nvim", desc = "Go to nvim configuration directory" },

  {{ if ne .machine "windows" -}}
  { on = [
    "g",
    "b",
  ], run = "cd ~/.config/bash", desc = "Go to bash configuration directory" },
  
  { on = [
    "g",
    "z",
  ], run = "cd ~/.config/zsh", desc = "Go to zsh configuration directory" },
  
  { on = [
    "g",
    "l",
  ], run = "cd ~/.local/share", desc = "Go to the local share directory" },
  
  { on = [
    "g",
    "p",
  ], run = "cd ~/Projects", desc = "Go to the local share directory" },
  
  { on = [
    "g",
    "r",
  ], run = "cd ~/Repos", desc = "Go to repository directory" },
  
  {{ if eq .machine "linux-fedora" -}}
  
  { on = [
    "g",
    "f",
  ], run = "cd ~/Files", desc = "Go to Files directory" },
  
  {{ else -}}
  
  { on = [
    "g",
    "w",
  ], run = "cd ~/win_home/", desc = "Go to Windows user home directory" },
  
  { on = [
    "g",
    "f",
  ], run = "cd ~/win_drive/", desc = "Go to Windows D Drive directory" },
  
  {{ end -}}
  {{ end -}}

  {{ if eq .machine "windows" -}}

  { on = [
    "g",
    "l",
  ], run = "cd ~/AppData/Local", desc = "Go to the local appdata directory" },

  { on = [
    "g",
    "r",
  ], run = "cd ~/AppData/Roaming", desc = 'Go to local appdata romaing' },

  { on = [
    "g",
    "D",
  ], run = "cd D:/Download/", desc = "Go to Drive D download dir" },

  { on = [
    "g",
    "p",
  ], run = "cd D:/Project/", desc = "Go to Project dir" },
  
  { on = [
    "g",
    "f",
  ], run = "cd D:/", desc = "Go to Windows D Drive directory" },
  {{ end -}}
]
