[manager]
show_hidden = true
[plugin]
prepend_previewers = [
  { name = "*.md", run = "glow" },
  { mime = "text/csv", run = "miller" },
  { mime = "application/*zip", run = "ouch" },
  { mime = "application/x-tar", run = "ouch" },
  {{ $ssh := env "SSH_TTY" -}}
  {{- if ne $ssh "" -}}
  {{- else if eq .machine "linux-wsl" -}}
  { mime = "image/*", run = "noop" },
  {{- end }}
  { mime = "application/x-bzip2", run = "ouch" },
  { mime = "application/x-7z-compressed", run = "ouch" },
  { mime = "application/x-rar", run = "ouch" },
  { mime = "application/x-xz", run = "ouch" },
]
append_previewers = [{ name = "*", run = "hexyl" }]
[opener]
extract = [
  { run = 'ouch d -y "%*"', desc = "Extract here with ouch", for = "windows" },
  { run = 'ouch d -y "$@"', desc = "Extract here with ouch", for = "unix" },
]
edit = [
  { run = 'nvim "$@"', block = true, for = "unix" },
  { run = "nvim %*", block = true, for = "windows" },
]
[open]
prepend_rules = [{ name = "*.toml", use = "edit" }]
